body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #C9D6FF;
    display: block;
    line-height: 1.6rem;
}

/* nav bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdfdfcc;
    padding: 10px;
    height: 80px;
}

nav h1 {
    font-weight: 700;
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    min-width: 50%;
    justify-content: space-evenly;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}




