* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #C9D6FF;
    line-height: 1.6rem;
}

/* nav bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdfdfee;
    padding: 10px 20px;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

nav h1 {
    font-weight: 700;
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 15px;
    /* flex-direction: row;
    min-width: 50%;
    justify-content: space-evenly; */

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

/* hero */

main {
    margin-bottom: 2rem;
    padding: 80px 0 10px;
}

main .hero {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.hero h2 {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
}

.hero p {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-style: italic;
    font-size: 1.2rem;
    color: #333;
    word-spacing: 1.3px;
    padding: 0 10px;
}

/* cards */

main .project-cards {
    display: grid;
    gap: 20px;
    padding: 20px;
    /* max-width: 100%; */
}

.card {
    /* width: 80%;
    height: 300px; */
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px 0;
    /* margin: 20px auto; */
    text-align: center;
}

/* footer */

footer {
    /* display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; */
    text-align: center;
    color: #333;
    padding: 10px;
    background-color: #dfdfdfaa;
 
}

/* Done for mobile */